body {
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: black;
  color: red;
  min-width: 1000px;
  min-height: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container li {
  font-size: 18px;
}